{% extends 'base/base.html' %}

{% block content %}
  <div class="container-fluid bg-light py-5" style="background-image: url('/media/10.jpg'); background-size: cover;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card bg-white p-4">
            <div class="text-center mb-4">
          <img src="/media/logo.jpg" alt="Logo" class="img-fluid rounded-circle" style="border: 2px solid #ccc; width: 200px; height: 200px;">
        </div>
            <h2 class="text-center mb-4">Registro</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              {% if form.errors %}
                <ul class="errorlist alert alert-danger">
                  {% for field in form %}
                    {% if field.errors %}
                      <li>{{ field.label }}: {{ field.errors|join:", " }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
              <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



