<!-- templates/base.html -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fundación ALENU</title>
  <!-- Agrega aquí tus estilos CSS o enlaces a archivos de estilos externos -->
</head>
<body>
  <!-- Agrega aquí la navegación u otras secciones comunes a todas las páginas -->
  
  {% block content %}
  <!-- Contenido específico de cada página se rellenará aquí -->
  {% endblock %}
  
  <!-- Agrega aquí tus scripts JavaScript o enlaces a archivos de scripts externos -->
</body>
</html>
